@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
:root {
  --main: #3498db;
  --whitegreen: #b2d664;
  --white: #ffffff;
  --black: #606060;
}
body {
  font-weight: 400;
  font-family: "Lato", sans-serif;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
dl,
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul li a,
a {
  text-decoration: none !important;
}
/* .indexActive {
  border: 1px solid transparent !important;
} */
.qrcodeRow .active .indexActive {
  border: 2px solid #3498db !important;
}
/* Responsive  */
@media screen and (min-width: 1320px) {
  .container {
    max-width: 1464px !important;
    width: 100% !important;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1400px) {
  .container {
    max-width: 1464px !important;
    width: 100% !important;
    margin: 0 auto;
  }
}
