.footerMain {
  position: relative;
  background: linear-gradient(
    0deg,
    rgb(34, 14, 39) 15.06%,
    rgb(34, 14, 39) 40.06%,
    rgb(29, 89, 249) 100%
  );
  text-align: center;
  padding-top: 105px;
}
/* Footer Main area start  */

.footerTop h1 {
  font-size: 56px;
  max-width: 850px;
  width: 100%;
  margin: 0 auto;
  font-weight: 600;
  color: #fff;
  padding: 4px 0px;
  line-height: 68px;
}
.footerTop a {
  padding: 10px 40px;
  color: rgb(255, 255, 255);
  width: 100%;
  max-width: 240px;
  display: inline-block;
  background: transparent;
  border: 2px solid rgb(255, 255, 255);
  max-width: 280px;
  height: 56px;
  font-weight: 700;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 52px auto;
  position: relative;
}

.footerTop a:before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  top: -5px;
  left: -5px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  transition: all 0.25s;
}
.footerTop a:hover:before,
.footerTop a:hover:after {
  width: 104%;
  height: 110%;
}
.footerTop a:after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  bottom: -5px;
  right: -5px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  transition: all 0.3s;
}

.footerTopImg {
  width: 100%;
}

/* bottom top start  */
.footerLogo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 72px 0px 36px 0px;
  border-bottom: 1px solid #3d3040;
}
.footerLogoArea {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footerLogoArea img {
  width: 130px;
  height: 30px;
}
.footerLogoArea p {
  max-width: 199px;
  width: 100%;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  line-height: 18px;
  text-align: left;
  margin: 0;
}
/* Footer bottom middle area start  */
.footerBottomMiddle {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  width: 100%;
  display: flex;
  padding: 50px 0 74px;
  justify-content: space-between;
}
.singleItemFooter h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  margin-bottom: 24px;
  text-transform: uppercase;
  text-align: left;
}
.singleItemFooter {
  max-width: 135px;
  width: 100%;
}
.singleItemFooter ul {
  margin: 0;
  padding: 0;
}
.singleItemFooter ul li {
  text-align: left;
}
.singleItemFooter ul li a {
  color: #ffffff;
  border: 0;
  cursor: pointer;
  display: inline-block;
  outline: 0;
  font-size: 14px;
  background: transparent;
  transition: all 0.2s ease-in-out;
  line-height: 20px;
  margin-bottom: 17px;
  text-align: left;
}
.footerGroups {
  min-width: 335px;
  width: 100%;
}
.footerGroup {
  display: flex;
  gap: 80px;
}

/* Footer bottom area start  */

.footerBottomRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  width: 100%;
  padding: 30px 0;
  font-size: 13px;
  border-top: 1px solid #3d3040;
  line-height: 30px;
}
.footerBottomRight p {
  color: #fff;
}
.footerSocial {
  display: flex;
  align-items: center;
  gap: 25px;
}
.footerBottomRight button {
  border: 0;
  outline: 0;
  background: transparent;
  color: #fff;
  padding: 4px 0px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  text-align: left;
}
.footerBottomRight a {
  display: inline-block;
  height: 16px;
  width: 16px;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 20px;
  color: #000;
}
